@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Fira Code', 'monospace';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--background-color: #111111;

	cursor: default;
}

body {
	color: white;
	background-color: var(--background-color);
}

.background-gradient-animation {
  background: linear-gradient(194deg, #3f529f, #3ec0c1, #b03131, #56d029);
  background-size: 800% 800%;

  -webkit-animation: background-animation 30s ease infinite;
  -moz-animation: background-animation 30s ease infinite;
  -o-animation: background-animation 30s ease infinite;
  animation: background-animation 30s ease infinite;
}

@-webkit-keyframes background-animation {
  0%{background-position:20% 0%}
  50%{background-position:81% 100%}
  100%{background-position:20% 0%}
}
@-moz-keyframes background-animation {
  0%{background-position:20% 0%}
  50%{background-position:81% 100%}
  100%{background-position:20% 0%}
}
@-o-keyframes background-animation {
  0%{background-position:20% 0%}
  50%{background-position:81% 100%}
  100%{background-position:20% 0%}
}
@keyframes background-animation {
  0%{background-position:20% 0%}
  50%{background-position:81% 100%}
  100%{background-position:20% 0%}
}